header {
	background: #ffffff url("fondonegrox.jpg");
	color:#FFFFFF;
}

.main {
	background: #ffffff url("fondomorado.jpg");
	font-family: Verdana, Geneva, sans-serif;
	font-size: larger;
	color: #FFF;
}

.color1 {
	background-color: #cccccc;
	color:#fff;
}


aside {
	background:#c0392b;
	color:#fff;
}

footer {
	background:#000000;
	color:#FFFFFF;
}


.breadcrumb {background: rgba(245, 245, 245, 0); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\00bb\00a0";}



